{% extends 'store/leyouts/main.html' %}

{% block content %}
     <h1>hello hey signin</h1>
     <form action="/signin" method="post">
     {% csrf_token %}
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="enter username"required><br>
        
        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Enter your pasword" required><br>
        <button type="submit">Sign up</button>
     </form>
{% endblock content %}